.navbar{
	height: 90px;
	width: 100%;
	box-shadow: 0 2px 5px rgba(0,0,0,0.12);
	position: fixed;
	background-color: white;
	top: 0;
	overflow: hidden;
	z-index: 2;
}
.batnav{
	width: 1170px;
	height: 90px;
	margin: auto;
}
.logo{
	float:left;
}
.navbutton{
	text-decoration: none;
	float:right;
	font-family: KoHo;
	font-size: 17px;
	margin: 32px 0px auto 0px;
}
.navbutton li{
	list-style: none;
	display: inline-block;
	margin: 0px 30px 0px 30px;
	font-weight: bold;
}
.navbutton li a{
	text-decoration: none;
	color:black;
}

.bar::after {
	content: '';
	display: block;
	width: 0;
	height: 3px;
	background: #95b6d4;
	transition: width .3s;
}
.bar:hover::after {
	width: 100%;
	transition: width .3s;
}
.bar:hover{
	color:#95b6d4;
}

/*header*/
.header{
	text-align: center;
	width: 100%;
	height: 465px;
	background-image: url(asset/asset-portofolio.png);
	background-repeat:no-repeat;
	background-size: cover;
	margin:50px 0px 0px 0px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.32);
}
.judul{
	margin-top:180px;
	margin-bottom: 0px;
	font-size: 20px;
	font-family: KoHo;
	font-weight: normal;
	letter-spacing: 40px;
	text-align:center;
}
.header h1{
	font-family: Playfair Display;
	font-size: 150px;
	font-weight: normal;
	color:white;
	padding: 125px;
	letter-spacing: 20px;
	margin:0px;

}

/*content*/
.content{
	width: 831.73px;
	text-align:center;
	margin: auto;
	z-index: 1;
}
.paraf1{
	margin-top:55px;
	text-align: center;
	font-family: KoHo;
	font-size: 18px;
	letter-spacing: 1px;
}
.content3{
	margin: 80px auto 0px auto;
	width: 831.73px;
}

.content-port{
	width: 263px;
	height: 1181.99px;
	display: inline-block;
	text-align: center;
}
.port1{
	float: left;
}
.port3{
	float: right;
}
.port{
	margin-bottom: 21px;
	box-shadow: 0 4px 8px rgba(0,0,0,0.32);
	width: 263px;
}
#port1{
	margin-top:2px;
}
#port2{
	margin-top:5px;
}






/*footer*/
.footer{
	background-color: black;
	width:100%;
	height: 460px;
	text-align: center;
	margin-top:150px;
}
#batas {
	margin:auto;
	padding-top: 90px;
	width: 1070px;
}
.futer{
	display: inline-block;
	text-align: left;
	position: static;
}
.futer2{
	display: inline-block;
	float: left;
}
.futer1{
	display: inline-block;
	float: right;
	width: 150px;
	text-align: left;
}
.judul1{
	color: white;
	font-size: 20px;
	font-weight:bold;
	margin: 0px 0px 25px 0px;
}
.sos1{
	height: 30px;
	float: left;
	display: inline-flex;
	margin-right: 20px;
}
.nav2{
	list-style: none;
	color:white;
	text-align: left;
	padding:0px 0px 0px 5px;
}
.link1{
	text-decoration: none;
	color: white;
	font-family: KoHo;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: normal;
}
.lislink{
	margin-bottom: 15px;
	color: white;
	font-family: KoHo;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: normal;
}
#cr{
	font-size: 13px;
	font-weight:lighter;
	color: white;
	display: block;
	margin-top:100px;
}



/*hover*/
.container1{
    position: relative;
    width: 263px;
    height: 290px;
    display: inline-block;
}
.container2{
    position: relative;
    width: 263px;
    height: 347.638px;
    display: inline-block;
 }
 .container3{
    position: relative;
    width: 263px;
    height: 262px;
    display: inline-block;
 }
 .container4{
    position: relative;
    width: 263px;
    height: 201.525px;
    display: inline-block;
 }
/*.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: KoHo;
    font-weight: bold;
    letter-spacing: 1px;
}*/
.overlayFade{
    height: 100%;
    width:100%;
    top:0;
    left:0;
    background-color: grey;
}
.overlay {
    position: absolute;
    opacity: 0.1;
    transition:all .3s ease;
    background-color: #212121;
}
.container1:hover .overlay,.container1:hover .overlayFade {
    opacity: 0;
}
.container2:hover .overlay,.container2:hover .overlayFade {
    opacity: 0;
}
.container3:hover .overlay,.container3:hover .overlayFade {
    opacity: 0;
}
.container4:hover .overlay,.container4:hover .overlayFade {
    opacity: 0;
}